<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="font-awesome.min.css" /> -->
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>

<body>
    <!-- Main Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active mr-3">
                    <a class="nav-link" href="#">Dashboard<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-5">
                     <a class="nav-link" href="/logout">Sign Out</i></span></a> 
                </li>
            </ul>
        </div>
    </nav>

    <!-- Side nav bar -->
    <div class="row ">
        <div class="col-2 mt-5 ml-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                    aria-controls="v-pills-home" aria-selected="false">Grievance</a>

                <!-- Dropdown for Status -->
                <a href="#statusmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link"
                    role="tablist">Status</a>

                
                <ul class="collapse list-unstyled" id="statusmenu">
                <!--
                    <li>
                        <a class="nav-link" id="status-option1" data-toggle="pill" href="#status-content-1"
                            role="tab">Option 1</a>
                    </li>
                    <li>
                        <a class="nav-link" id="status-option2" data-toggle="pill" href="#status-content-2"
                            role="tab">Option 2</a>
                    </li>
                    <li>
                        <a class="nav-link" id="status-option3" data-toggle="pill" href="#status-content-3"
                            role="tab">Option 3</a>
                    </li>
                -->
                {% for grievance in grievances: %}
                <li>
                    <a class="nav-link" id="status-option{{loop.index}}" data-toggle="pill" href="#status-content-{{loop.index}}"
                        role="tab">{{grievance['subject']}}</a>
                </li>
                {% endfor %}
                </ul>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                    aria-controls="v-pills-messages" aria-selected="false">Reply</a>
            </div>
        </div>

        <!-- Contents for the corresponding Side nav bar -->
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <!-- Grievance form -->
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <form class="mt-5" action = "/submitgrievance" method = "POST">
                        <div class="mt-5 row">
                            <div class="col-sm-8 offset-sm-1">
                                <h1>Lodge Your Grievance</h1>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mt-4 col-sm-4 offset-sm-1">
                                <label for="grievance">Type of Grievance:</label>
                             
                                <select class = "browser-default custom-select" id = "grievance" name = "g_type">
                                    <options selected>Select Grievance</options>
                                    {% for key in grievance_types: %}
                                        <option value="{{key}}" 
                                        {% if (loop.index == 0) %} selected="selected" {% endif %}
                                        >
                                        {{key}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group mt-4 col-sm-4">
                                <label for="institution">Institution Name:</label>
                              
                                <select class = "browser-default custom-select" id = "institution" name = "institute">
                                    <options selected>Select Institute</options>
                                    {% for key in institutes: %}
                                        <option value="{{ key }}" 
                                        {% if (key == "Manipal Institute of Technology") %} selected="selected" {% endif %}
                                        >
                                        {{key}}
                                        </option>
                                    {% endfor %}
                                </select>
                                
                              
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="form-group col-sm-8 offset-sm-1">
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="1"
                                    placeholder="Subject of your Grievance" name = "subject"></textarea>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="form-group col-sm-8 offset-sm-1">
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="10"
                                    placeholder="Type Your Grievance Here...." name = "content"></textarea>
                            </div>
                        </div>
                        <div class="row mt-4 mb-5">
                            <div class="col-sm-1 offset-sm-1">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Status  -->
                <!--
                <div class="tab-pane fade" id="status-content-1" role="tabpanel">
                    <div class="col-md-9 offset-md-1 mt-5">
                        <h3>Grievance Status</h3>
                        <ul class="timeline">
                            <li>
                                <h4 class="grievhead">Grievance submitted</h4>
                                <a href="#" class="float-right">21 March, 2014</a>
                                <p>Your Grievance that this site doesnt have enough Teddy Bears and Penguins is Filled
                                </p>
                            </li>
                            <li>
                                <h4 class="grievhead">Grievance under review</h4>
                                <a href="#" class="float-right">4 March, 2014</a>
                                <p>
                                    The "Admins" think that this site is supposed to be formal.
                                </p>
                            </li>
                            <li>
                                <h4 class="grievhead">Action Taken</h4>
                                <a href="#" class="float-right">1 April, 2014</a>
                                <p>
                                    NO thanks,we dont need Penguins :)
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="status-content-2" role="tabpanel" aria-labelledby="status-1-tab">
                    <div class="col-md-9 offset-md-1 mt-5">
                        <h3>Grievance Status</h3>
                        <ul class="timeline">
                            <li>
                                <h4 class="grievhead">Grievance submitted</h4>
                                <a href="#" class="float-right">21 March, 2014</a>
                                <p>
                                    Your Grievance that your team leader is God is filled.
                                </p>
                            </li>
                            <li>
                                <h4 class="grievhead">Grievance under review</h4>
                                <a href="#" class="float-right">4 March, 2014</a>
                                <p>
                                    Isnt he God?
                                </p>
                            </li>
                            <li>
                                <h4 class="grievhead">Action Taken</h4>
                                <a href="#" class="float-right">1 April, 2014</a>
                                <p>
                                    Yes he is God
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="status-content-3" role="tabpanel">
                    <div class="col-md-9 offset-md-1 mt-5">
                        <h3>Grievance Status</h3>
                        <ul class="timeline">
                            <li>
                                <h4 class="grievhead">Grievance submitted</h4>
                                <a href="#" class="float-right">21 March, 2014</a>
                                <p>
                                    Mujhe Manipal me nahi rehna,Library me bahut thandi hai
                                </p>
                            </li>
                            <li>
                                <h4 class="grievhead">Grievance under review</h4>
                                <a href="#" class="float-right">4 March, 2014</a>
                                <p>
                                    Hmmm,wear your own jacket i guess.
                                </p>
                            </li>
                            <li>
                                <h4 class="grievhead">Action Taken</h4>
                                <a href="#" class="float-right">1 April, 2014</a>
                                <p>
                                    BSDK manipal me nahi rehna tha tho padna tha ne JEE ke liye.Disgust!
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                -->
                {% for grievance in grievances: %}
                <div class="tab-pane fade" id="status-content-{{loop.index}}" role="tabpanel">
                    <div class="col-md-9 offset-md-1 mt-5">
                        <h3>Grievance Status</h3>
                        <ul class="timeline">
                            <li>
                                <h4 class="grievhead">Grievance submitted</h4>
                                <a href="#" class="float-right">{{grievance['created_at_words']}}</a>
                                <p>
                                   Your grievance regarding: "{{grievance['subject']}}" has been submitted.
                                </p>
                            </li>
                            
                            {% if grievance['status'] == 'under_review': %}
                            <li>
                                <h4 class="grievhead">Grievance under review</h4>
                                <a href="#" class="float-right">{{grievance['updated_at_words']}}</a>
                                <p>
                                    Your grievance is under review.
                                </p>
                            </li>
                            {% endif %}
                            
                            {% if grievance['status'] == 'action_taken': %}
                            <li>
                                <h4 class="grievhead">Action Taken</h4>
                                <a href="#" class="float-right">{{grievance['updated_at_words']}}</a>
                                <p>
                                    {{grievance['feedback']}}
                                </p>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    ...</div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    ...</div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script>
        var selector = "a"

        $(selector).on('click', function () {
            $(selector).removeClass('active');
        });
    </script>
</body>

</html>