.navbar-custom
{
    background-color:black;
    color: white;
}
.jumbotron-custom
{
    
    text-align: center;
}
body {
    background-image: url('design10.png');
    background-repeat: no-repeat;
    background-size: 60%;
} 